<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="ru.semiot" level="DEBUG" additivity="true"/>
    <logger name="io.netty" level="DEBUG" additivity="false"/>
    <logger name="ws.wamp.jawampa" level="INFO" additivity="false"/>
    <logger name="org.apache.http" level="INFO" additivity="false"/>
    <logger name="org.apache.jena" level="INFO" additivity="false"/>
    <logger name="com.hp.hpl.jena" level="INFO" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>